.nav-bar {
  width: 100%;
  height: 4.5rem;
  background: #0E8C3A;
}

.nav-bar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nav-bar li {
  margin: 0 1rem;
  font-size: 24px;
  font-weight: 600;
}

.nav-bar a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.nav-bar a:hover,
.nav-bar a:active {
  background: white;
  color: #009b00;
}
